@import url("https://fonts.googleapis.com/css?family=Roboto");

*{
	box-sizing:border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	min-height: 100%;
	height: 100%;
	line-height: 1.5em;	
	background: url("repeat-bg.png");
}

.container-fluid{
	margin: 0 5%;
}

#wrapper {
	min-width: 100% !important;
	height: 100%;
	width: 100%;
	/*position: relative;*/
}

#cover {
	min-height: 35% !important;
	height: auto%;
	width: 100%;
	/*position: relative;*/
	background: transparent;
}

#landingcover{
	min-height: 35% !important;
	height: 100%;
	width: 100%;
	/*position: relative;*/
}

#middle {
	width: 100%;
	background-color: white;	
}

#landing{
	width:100%;
	height:100%;
	padding:5% 0;
	text-align:left;
	color:#ffffff;
	background:url(images/landingbg.jpg);
	background-color: #000;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#navigation {
	min-height: 35% !important;
	height: auto;
}

#cover .navbar {
	background-color: transparent;
	border-bottom-width: 0px;
}

#cover .navbar-nav li a {
	padding: 0 0 0 0;
}

.flag {
	background-color: #d32f2f;
	height: 200px;
	width: 140px;
	margin: 0 5px 0 5px;
	border-bottom: none;
}

.flag span {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: white;
	position: relative;
	top: 170px;
	left:5px;
	right:0px;
}
#contain-logo {
	float: left;
	padding: 2% 0 2% 2%;
}

#contain-logo h1{
	color: #d32f2f;
	background-color:#ffffff;
	font-size:30px;
	text-transform: uppercase;
	text-align:center;
	padding:4px;
	margin:0 auto;
	position: relative;
}

#logo {
	height:160px;
	padding: 2% 0 0 0;
	margin:0 0 0 4%;
}

#image-scroll {
 height: 300px;	
 overflow: hidden;
 position: relative;
}

#inner {
 position: absolute;
 width: 300%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform: translate3d(0, 0, 0);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 40s linear infinite;
 -webkit-animation: scroll-left 40s linear infinite;
 animation: scroll-left 40s linear infinite;
}

.info{
	margin:2%;
}

.info p{
	font-size: 1em;
	line-height: 1.1em;
	color:#607D8B;
}

.info h4{
	font-size:1.2em;
	text-transform: uppercase;
	color:#455A64;
}

.imagez{
	transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
}

.imagez h5{
	background-color: #d32f2f;
	color: #ffffff;
	text-transform:uppercase;
	padding:4%;
	margin-top:0;
	transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
}

.imagez h5:hover{
	border-bottom:#B71C1C solid 8px;
	color:#FFCDD2;
}

.imagez:hover{
	background-color: #ffffff;
	color:#d32f2f;
}

.footer{
  bottom: 0px;
 	width: 100%;
  height: 100px;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1%;
	text-align:center;
	color:#B0BEC5;
	font-size:0.8em;
	line-height: 0.8em;
	text-transform:uppercase;
	transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
}

.containing{
	margin:5% auto;
}

.committees{
	margin:2% 3% 2% 1%;
}

.committees h1{
	font-size:#455A64;
	font-size:1.4em;
	line-height: 1em;
	text-transform: uppercase;
}

.committees h2{
	font-size:#455A64;
	font-size:1.2em;
	line-height: 1em;
	text-transform: uppercase;
}

.committees p{
	font-size:0.9em;
	line-height: 1.2em;
	color:#607D8B;
}

.right{
	text-align:right;
}

.left{
	text-align:left;
}

.mobilizerz{
	margin:0 4%;
}
.footer i{
	color:#CFD8DC;
}
.footer a{
	color: #fff;
	transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
}

.footer a:hover{
	text-decoration: none;
	color: #d32f2f;
}
.footer:hover{
	text-decoration: none;
}

.news-header{
	border: #fff solid 5px;
	margin: 3%;
	margin-top:0;
	padding:2%;
}

.news-side{
	margin:0;
	padding:0;
}

.news-header h1{
	font-size:5em;
	text-transform: uppercase;
	font-weight:bold; 
	line-height: 0.8em;
}
.news-header h2{
	font-size:2.5em;
	text-transform: uppercase; 
}
.news-info{
	background-color: #fff;
	margin:1%;
	padding:1%;
}

.news-info h4{
	color: #37474F;
	text-transform: uppercase;
	font-size:0.9em;
}

.news-info a{
	color: #D32F2F;
}

.news-info a:hover{
	text-decoration: none;
	color: #fff;
}

.news-info p{
	color:#546E7A;
	line-height: 1.3em;
}

.news-info p>i{
	color:#B0BEC5;
}

.news-info{
	line-height: 0.8em;
	padding:2% 0 2% 5%;
	transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
}

.news-info:hover{
	color:#fff;
	background-color: #CFD8DC;
}

.about{
	background-color: #fff;
	margin:1%;
	color:#263238;
	font-size:0.9em;
	line-height: 1.3em;
	padding:2%;
	margin-top:0;
}

.about p{
	color:#546E7A;
}
.about h4{
	color: #37474F;
	text-transform: uppercase;
}

.navbar{
	margin-bottom: 0;
	border:0;
	text-transform: uppercase;
	font-size: 0.8em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #fff;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #fff; /*BACKGROUND color for active*/
background-color: #D32F2F;
}

.navbar-default{
	background-color: #263238;
	border-color:#fff;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
}

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: #D32F2F; /*Change rollover cell color here*/
}


  .navbar-default .navbar-nav > li > a {
   color: #fff; /*Change active text color here*/
}

.navbar-brand{
	margin-top:-15px;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #263238;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
	0%   { -moz-transform: translateX(0); }
	100% { -moz-transform: translateX(-200%); }
}

@-webkit-keyframes scroll-left {
	0%   { -webkit-transform: translateX(0); }
	100% { -webkit-transform: translateX(-200%); }
}

@keyframes scroll-left {
	0%   { 
		-moz-transform: translateX(0); /* Browser bug fix */
		-webkit-transform: translateX(0); /* Browser bug fix */
		transform: translateX(0); 		
	}

	100% { 
		-moz-transform: translateX(-200%); /* Browser bug fix */
		-webkit-transform: translateX(-200%); /* Browser bug fix */
		transform: translateX(-200%); 
	}
}
